body {
  background-color: hsl(229, 66%, 92%);
  font-weight: 12px;
}
.headdiv {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  color: rgb(114, 110, 110);
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}
.inlineclass {
  align-items: center;
  font-size: 15px;
  color: rgba(156, 151, 151, 0.959);
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.inlineclass .Anually {
  margin-right: 20px;
}
.inlineclass .Monthly {
  margin-left: 20px;
}
#box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.basic,
.professional,
.master {
  width: 280px;
  height: 380px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 3px 2px 2px #fffafa;
}
.professional {
  background-color: blue;
  color: white;
}


.div1,
.div2,
.div3,
.div4,
.div5,
.btn {
  font-family: 'Montserrat', sans-serif;
  justify-content: space-around;
  text-align: center;
  padding: 5px 15px;
  margin-left: 5px;
  font-weight: bold;
}
.div1 {
  font-weight: 700;
  font-size: 12px;
  margin-top: 20px;
}
.div2 {
  margin-top: 10px;

  font-size: 50px;
  font-family: 'Alfa Slab One', cursive;
}
.div3,
.div4,
.div5 {
  margin-top: 10px;
  font-size: 15px;
 
}

.btn {
  width: 230px;
  height: 35x;
  padding: 5px 20px;
  margin-top: 30px;
  margin-left: 20px;
  box-align: center;
  background-color: white;
  border-radius: 5px;
}
hr {
  width: 90%;
  opacity: 0.4;
}
.basic .btn{
  color:blue;
}
.master .btn{
  color:blue;
}